body, html {
	height: 100%;
	width: 100%;
}

html {
	background-color:rgb(248, 248, 248);
}

body {
	margin: 0 auto;
	font-family: Roboto,Arial,sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* ----------Navigation Header---------- */
.headNavBox-wrapper {
	width: 100%;
	height:50px;
	font-weight: 100;
	overflow: hidden;
	background-color: white;
	box-shadow: 0 5px 7px 0 rgb(150, 150, 150);
	position: sticky;
	display: flex;
	z-index: 1;
	font-size: 1em;
}
.headNavBox-logo {
	flex: 1 1;
	color:orange;
	font-size: 2em;
	float: left;
	padding-left: 20px;
}
.super {
	vertical-align: +7px;
}
.navigation-wrapper {
	flex: 2 1;
}
ul.nav {
	list-style-type: none;
	line-height: 50px;
	text-align: center;
	cursor: default;
}
.nav li {
	display: inline-block;
	height: 40px;
	padding: 0 1% 0 1%;
	border-bottom: 2px solid transparent;
}
.nav li:hover {
	border-bottom: 2px solid orange;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}







/* --------USER PROFILE--------*/

.user-profile-wrapper {
	position: absolute;
	margin: 0 auto;
	width: 60px;
	/*height: 40px;*/
	z-index: 3;
	background-color: red;
}

/* ------USER PROFILE END------*/


/* --------ACTIONS BAR-------- */
.headNav-mapActions-wrapped {
	flex: 1 1;
	display: flex;
	align-items: center;
	justify-content: center;
}
.refresh, .search, .my-location, .markers {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 	40px;
	height: 40px;
	border-radius: 50%;
	color: orange;
	margin-right: 5px;
	cursor: pointer;
}
.refresh:hover, .search:hover, .my-location:hover, .markers:hover {
	color: 	white;
	background-color: orange;
	box-shadow: 0 5px 5px 0 #888888;
	animation-name: chatHead_animation;
	animation-duration: .15s;
}
.search {
	margin-right: 20px;
}
/* ----------Navigation Header END---------- */

/* ----------Body Cards---------- */
.card_m {
	border: 2px solid rgb(255, 255, 255);
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-webkit-border-radius: 5px;
	-o-webkit-border-radius: 5px;
	-ms-webkit-border-radius: 5px;
	width: 180px;
	height: 100px;
	text-align: center;
	font-size: 70%;
	word-wrap: break-word;
	color: #666666;
	margin: 1%;
	padding: 0.5%;
	overflow: hidden;
	background-color: rgb(255, 255, 255);
	box-shadow: 0 2px 3px 0 rgb(185, 185, 185);
	float: left;
	transition: .1s ease;
}
.card_m:hover, .creator:hover{
	box-shadow:0 2px 8px 1px rgb(150, 150, 150);
	-webkit-transform: translateY(-2px);
	transform: translateY(-2px);
}

.creator{
	background: #8de192;
}
.deleteEvent {
	float: right;
}
.cardEvent_chat_wrapper{
	display: none;
}
.cardEvent_chat {
	position: absolute;
	display: flex;
	flex-flow: column;
	text-align: center;
	font-family: Roboto,Arial,sans-serif;
	height: 85%;
	width: 950px;
	margin: 1% 20%;
	z-index: 1;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-webkit-border-radius: 2px;
	-o-webkit-border-radius: 2px;
	-ms-webkit-border-radius: 2px;
	box-shadow: 0 15px 50px 0 rgb(93, 93, 93);
	background-color: white;
	color: gray;
}
/*------------chat_head----------*/
.chatHead_title {
	display: fixed;
	border: 0 solid orange;
	border-radius: 3px 3px 0 0;
	color: white;
	background-color: gray;
	font-size: 1.5em;
	padding-left: 5px;
}
.chatHead_eventAddress {
	float: left;
	line-height: 40px;
}
.chatHead_menu {
	height: 40px;
	float: right;
	margin-right: 10px;
	display: flex;
	align-items: center;
}
.event-options, .closeBtn {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 36px;
	width: 36px;
}
.event-options:hover, .closeBtn:hover {
	border-radius: 50%;
	background-color: orange;
	box-shadow: 0 5px 5px 0 #555555;
	animation-name: chatHead_animation;
	animation-duration: .15s;
	cursor: pointer;
}
@keyframes chatHead_animation {
	0%   {transform: scale(1);}
	50%   {transform: scale(1.08);}
	75%   {transform: scale(.92);}
	100%   {transform: scale(1);}
}
/*------------chat_head_END----------*/


/*------------chat_BODY------------*/

.bodyWrapper {
	display: flex;
	border: 0px solid green;
	height: 100%;
}
.chatBody_userList {
	width: 150px;
	max-width: 350px;
	min-width: 50px;
	border-right: 1px solid lightgray;
	resize: horizontal;
	overflow: auto;
}
.chatBody_chatWindow {
	flex: 1;
	display: flex;
	flex-flow: column;
	border: 0px solid brown;
}
.chatBody_displayer {
	flex: 10 1;
	border: 0px solid orange;
	overflow: auto;
}
form {
	height: 100%;
}
.chatBody_typer {
	/*flex: 1 1;*/
	height: 40px;
	display: fixed;
	border: 0 solid gray;
	box-shadow: inset 0 0 10px 0 lightgray;
}
.chatBody_field_input {
	float: left;
	height: 100%;
	width: 92%;
	border: 0 solid gray;
	font-family: Roboto,Arial,sans-serif;
	background-color: transparent;
	padding-left: 10px;
	font-size: 1em;
	font-weight: 100;
}
input::-webkit-input-placeholder {
	font-family: Roboto,Arial,sans-serif;
	text-align: left;
	font-size: 1em;
	color: lightgray;
	padding-left: 10px;
}
input:-moz-placeholder {
	font-family: Roboto,Arial,sans-serif;
	text-align: left;
	font-size: 1em;
	color: lightgray;
	padding-left: 10px;
}
input::-moz-placeholder {
	font-family: Roboto,Arial,sans-serif;
	text-align: left;
	font-size: 1em;
	color: lightgray;
	padding-left: 10px;
}
input:-ms-input-placeholder {
	font-family: Roboto,Arial,sans-serif;
	text-align: left;
	font-size: 1em;
	color: lightgray;
	padding-left: 10px;
}
input[type=text]:focus {
	outline: none;
}


.chatBody_btn_send {
	position: relative;
	display: none;
	z-index: 1;
	margin: 3px 5px;
	float: right;
	height: 35px;
	width: 35px;
	font-size: 1em;
	text-align: center;
	border: 0 solid transparent;
	border-radius: 50%;
	color: white;
	background-color: gray;
	animation-name: chatHead_animation;
	animation-duration: .3s;
	cursor: pointer;
}
input[type=submit]:focus {
	outline: none;
}
.chatBody_btn_send:hover {
	background-color: orange;
	box-shadow: 0 2px 6px 0 gray;
	cursor: pointer;
}
/*------------chat_BODY_END----------*/

/*-------------CHAT WINDOW_END------------*/

/*---------------BODY CARDS END------------------*/



h6 {
	text-align: center;
	font-size: 110%;
	font-family: Roboto,Arial,sans-serif;
	font-weight: bolder;
	color: #666666;
	margin: 0;
	overflow: hidden;
	margin-top: 1%;
	margin-bottom: 2%;
}
/* ----------Body Cards END----------- */

/* LINKS */

#headNavBox a:hover, a:active, a:focus{
	color: orange;
	text-decoration: none;
}

#headNavBox ul, a:link, a:visited{
	color: gray;
	text-decoration: none;
}

.userSettings-dropdown a:hover, a:active, a:focus{
	color: orange;
	text-decoration: none;
}

.userSettings-dropdown a:link, a:visited{
	color: gray;
	text-decoration: none;
}




/* -----MapEvent- mapContentBox----- */
.mapContentBox {
	display: flex;
	flex-flow: column;
	height: 100%;
}

#map {
	flex: 1 1 auto;
}
/* -----MapEvent- mapContentBox END----- */


/*---------------MAP CREATE EVENT WINDOW----------------*/
.createEventWindow_wrapper {
	display: none;
}
.createEventWindow {
	display: flex;
	position: absolute;
	margin: 80px 35%;
	z-index: 3;
	width: 450px;
	height: 200px;
	flex-flow: column;
}
.createEventWindow_header {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	min-height: 40px;
	width: 100%;
	background-color: gray;
	border-radius: 3px 3px 0 0;
}
.nameIn {
	position: relative;
	float: left;
	margin-left: 10px;
	width: 87.5%;
	border-style: none;
	outline: none;
	color: white;
	background: transparent;
	font-size: 1.5em;
}
.nameIn::-webkit-input-placeholder {
	padding: 5px;
}
.createEvent_cancelBtn {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 36px;
	width: 36px;
	color: white;
	background-color: transparent;
}
.createEvent_cancelBtn:hover {
	border-radius: 50%;
	background-color: orange;
	box-shadow: 0 5px 5px 0 #555555;
	animation-name: chatHead_animation;
	animation-duration: .15s;
	cursor: pointer;
}
.createEventWindow_body {
	flex: 10;
	position: relative;
	height: 100%;
	width: 100%;
	background-color: white;
	border-radius: 0 0 3px 3px;
}
.descIn {
	position: relative;
	padding-top: 15px;
	display: block;
	outline: none;
	border: none;
	width: 95%;
	margin: 0 auto;
	font-size: 1em;
	color: gray;
	text-align: center;
}
.descIn::-webkit-input-placeholder {
	text-align: center;
}
.createEvent_createBtn {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 120px auto;
	height: 2em;
	width: 80px;
	color: white;
	font-size: 1em;
	background-color: gray;
	border: 0 solid transparent;
	border-top-right-radius: 1em;
	border-top-left-radius: 1em;
	border-bottom-right-radius: 1em;
	border-bottom-left-radius: 1em;
}
.createEvent_createBtn:hover {
	background-color: orange;
	box-shadow: 0 5px 5px 0 #777777;
	animation-name: chatHead_animation;
	animation-duration: .15s;
	cursor: pointer;
}
.overlay-back {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.6;
	filter: alpha(opacity=60);
	z-index: 2;
	display: none;
}
/*---------------MAP CREATE EVENT WINDOW END----------------*/

.markers-menu-wrapper {
	display: none;
	position: absolute;
	top: 60px;
	right: 13%;
	z-index: 1;
}
.markers-menu-list {
	list-style: none;
}
.markers-menu-list li {
	padding-bottom: 10px;
}
.markers-my-events, .markers-involved {
	display: flex;
	align-items: center;
	justify-content: left;
	height: 30px;
	border: 2px solid orange;
	border-radius: 20px;
	background-color: white;
	color: orange;
	box-shadow: 0 5px 5px 0 #aaaaaa;
	margin-right: 5px;
	cursor: pointer;
}
.markers-my-events button, .markers-involved button {
	border-style: none;
	outline: none;
	font-family: Roboto,Arial,sans-serif;
	color: orange;
	font-size: .8em;
	margin: 0 5px 0 5px;
	cursor: pointer;
	background-color: transparent;
}
.markers-my-events:hover, .markers-involved:hover {
	color: 	white;
	background-color: orange;
	box-shadow: 0 5px 5px 0 #888888;
	animation-name: chatHead_animation;
	animation-duration: .15s;
}
.markers-my-events i, .markers-involved i {
	margin-left: 5px;
}